---Language:        Cpp# BasedOnStyle:  WebkitAccessModifierOffset : -4BreakBeforeBraces: CustomBraceWrapping:  AfterClass: true  AfterEnum: true  AfterStruct: true  AfterControlStatement: true  AfterFunction: true  SplitEmptyFunction: true  IndentBraces: false  SplitEmptyFunction: false  SplitEmptyRecord: false  BeforeElse: true  BeforeCatch: trueIndentCaseLabels: trueIndentWidth: 4PointerAlignment: RightSortIncludes: trueSpaceBeforeAssignmentOperators: trueTabWidth: 4UseTab: falseColumnLimit: 0AllowShortIfStatementsOnASingleLine: true